@import url(/fonts/advent-pro/advent-pro.css);
@import url(/fonts/material-symbols/material-symbols.css);

body {
	background: #000;
	color: #EEE;
	font-family: monospace;
	user-select: none;
	font-family: 'Advent Pro';
	-webkit-tap-highlight-color: transparent;
}

header {
	position: sticky;
	top: 0;
	z-index: 1000;
	background: #000B;
	backdrop-filter: blur(32px);
}

.gollery {
	font-size: 32px;
}

.gollery::before {
	content: "Go";
}
.gollery::after {
	content: "llery";
}

#items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex: 1 1 0;
}

#items a {
	flex: 1;
	width: 100%;
	min-width: 192px;
	max-width: 240px;
	height: 240px;
	overflow: hidden;
	position: relative;
}

#items img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#items div {
	position: absolute;
	bottom: 0;
	background: #0008;
	width: 100%;
}

#items b {
	white-space: pre;
}

#items p {
	white-space: pre;
}
